<div class="row">
  <div class="col-sm-4">

  </div>

  <div class="col-sm-4">
    <nb-card>
        <nb-card-header>
          Welcome !
        </nb-card-header>
      <nb-card-body>
        <div class="row">
          
        
        Enter email/phone no -<input nbInput status="info" type="text">
        Password -<input nbInput status="info" type="password">
      </div>
        <button nbButton status="info" (click)="login()">Login</button>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-sm-4">

  </div>

</div>